@page "/counter"
@inject HttpClient Http;


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @position</p>


@code {


    private int position = 0;



    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var operations = await Http.GetFromJsonAsync<string[]>("sample-data/DivingParameter.txt");
        if (operations == null)
            {
            position =- 9;
            return;
            }
        var divingService = new _Dive.DivingService();

        position = divingService.MultiplyPositions(operations);
    }


}

